# LaTeX
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.loe
**/*.log
**/*.nav
**/*.out
**/*.run.xml
**/*.snm
**/*.synctex.gz
**/*.toc

# latexindent
**/__latexindent_temp*.tex

# macOS
.DS_Store

# Python
__pycache__